<div class="header">
  <h2>PK Software Institute</h2>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Courses</h2>
      <ul>
        <li>Ruby</li>
        <li>Rails</li>
        <li>Java</li>
        <li>AWS</li>
      </ul>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Course Fee</p>
      <p> Paid Courses</p>
    </div>
    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
      <p>Paid Courses</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p> A Funloving guy !!! </p>
    </div>
    <div class="card">
      <h3>Popular Post</h3>
      <div class="fakeimg" style="height:150px;">Image</div><br>
      <div class="fakeimg" style="height:150px;">Image</div><br>
      <div class="fakeimg" style="height:150px;">Image</div>
    </div>
    <div class="card">
      <h3>Follow Me </h3>
      <p>@Twitter</p>
      <%= link_to 'Profiles', profiles_path %>
    </div>
  </div>
</div>

<div class="footer">
  <h2>Reach us @ PK Software Institute</h2>
</div>